.container.marketing {
  box-shadow: 0 0 55px -25px;
  border: 1px solid #E8E8E8;
}

article.page p, article.page li {
  font-size: 120%;
}

article.page a {
  text-decoration: underline;
}

article.page h2 {
  margin-top: 35px;
  margin-bottom: 25px;
}

article.page h3 {
  margin-top: 25px;
  margin-bottom: 15px;
}

article.page h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

article.page p > img {
  display: block;
  margin: auto;
  box-shadow: 0 0 20px -5px;
  border: 1px solid #E8E8E8;
  max-width: 1000px;
}

.warning, .protip {
  display: block;
  background-repeat: no-repeat;
  background-position: 20px center;
  padding: 10px 20px 10px 60px;
  border: 1px solid;
}
.warning .title, .protip .title {
  display: block;
  font-weight: bold;
}

.warning {
  background-color: bisque;
  background-image: url(/images/warning.png);
  border-color: burlywood;
}
.warning .title {
  color: darkred;
}

.protip {
  background-color: powderblue;
  background-image: url(/images/protip.png);
  border-color: steelblue;
}
.protip .title {
  color: midnightblue;
}
