---
# Style for pages
---

@import "colors";

body {
  color: #444;
  font-size: 16px;
}

li {
  &.level-1 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.3;
  }
  &.level-2 {
    font-weight: bold;
    line-height: 1.3;
  }
  &.level-3 {
    padding-left: 15px;
    font-size: 0.8em;
  }
  &.level-4 {
    padding-left: 30px;
    font-size: 0.8em;
    & a {
      color: #444;

      &:focus, &:hover {
        color: #444;
      }
    }
  }
}


/*
 * Trick from http://css-tricks.com/hash-tag-links-padding/
 * Makes one able to follow an anchor link and arrive at the right place,
 * despite the fixed menu bar.
 */
/*article.page a[name]:not([href])::before,
article.page h1[id]::before,
article.page h2[id]::before,
article.page h3[id]::before,
article.page h4[id]::before,
article.page h5[id]::before,
article.page h6[id]::before*/ 
article.page {

  a {
    text-decoration: underline;
    &.anchor-menu-item-target{
      display: block;
      content: " ";
      margin-top: -20px;
      height: 20px;
      visibility: hidden;
    }
  }

  h1 {
    color: tea-color('accent');
    font-weight: bold;
    font-variant: small-caps;
    font-size: 3em;
    margin: 0;
    line-height: 1;
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    background-color: tea-color('dark');
    font-size: 2.4em;
    padding: 5px 10px;
    font-weight: bold;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.8em;
    font-weight: bold;
    color: tea-color('secondary');
  }

  h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: tea-color('accent');
    font-size: 1.4em;
  }

  h5 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
  }

  p > img {
    display: block;
    box-shadow: 0 0 20px -5px;
    border: 1px solid #E8E8E8;
    max-width: 100%;
    margin: 1em auto;
  }

  .video {
    max-width: 100%;
    text-align: center;

    iframe {
      display: block;
      margin: 1em auto;
      max-width: 100%;
      width: 560px;
      height: 315px;
      box-shadow: 0 0 20px -5px;
      border: 1px solid #E8E8E8;
    }
  }
}

a {
    color: tea-color('accent');
    text-decoration: none;
}

a:hover, a:focus {
    color: tea-color('accent');
    text-decoration: underline;
}

.btn-default {
  background-image: linear-gradient(#00E0AC, #009471 50%, #007F62);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #00614A;
  color: #FFF;
  background-color: #009471;
  &:hover {
    color: #fff;
  }
}


