article.page p {
  font-size: 120%;
}

article.page a {
  text-decoration: underline;
}

article.page h3 {
  margin-top: 35px;
  margin-bottom: 25px;
}

article.page h4 {
  margin-top: 25px;
  margin-bottom: 15px;
}

.warning, .protip {
  display: block;
  background-repeat: no-repeat;
  background-position: 20px center;
  padding: 10px 20px 10px 60px;
  border: 1px solid;
}
.warning .title, .protip .title {
  display: block;
  font-weight: bold;
}

.warning {
  background-color: bisque;
  background-image: url(/images/warning.png);
  border-color: burlywood;
}
.warning .title {
  color: darkred;
}

.protip {
  background-color: powderblue;
  background-image: url(/images/protip.png);
  border-color: steelblue;
}
.protip .title {
  color: midnightblue;
}
