<div class="feedback">
	<span>Cette réponse vous a-t-elle aidé ?</span>
	<form action="https://formspree.io/feedback-aide@tea-ebook.com" method="POST">
	    <input type="hidden" name="page" value="{{ page.url }}">
	    <input type="hidden" name="question" value="{{ include.question }}">
	    <input type="hidden" name="feedback" value="👍">
	    <input type="hidden" name="_next" value="{{ page.url }}" />
	    <input type="hidden" name="_language" value="fr" />
	    <input type="hidden" name="_subject" value="[Aide] Feedback" />
	    <input type="submit" value="Oui 👍" class="thumb-button">
	</form>
	<form action="https://formspree.io/feedback-aide@tea-ebook.com" method="POST">
	    <input type="hidden" name="page" value="{{ page.url }}">
	    <input type="hidden" name="question" value="{{ include.question }}">
	    <input type="hidden" name="feedback" value="👎">
	    <input type="hidden" name="_next" value="{{ page.url }}" />
	    <input type="hidden" name="_language" value="fr" />
	    <input type="hidden" name="_subject" value="[Aide] Feedback" />
	    <span class="thumb-button show-comment-form">Non 👎</span>
	    <div class="comment-form hidden">
	    	<label>Des suggestions ou commentaires ? <textarea name="comment"></textarea></label>
	    	<label>Votre email (sans lequel nous ne pourrons pas vous apporter une réponse) <input type="text" name="email" value="" /></label>
		    <input type="submit" class="button" value="Envoyer">
		</div>
	</form>
</div>
