<header id="header">
  <div class="logo">
    <a href="/" alt="TEA, the ebook alternative"><img alt="TEA, the ebook alternative" src="/images/logo.png"></a>
  </div>
  <nav role="navigation" id="menu-top">
    <p id="title-menu-top">Menu</p>
    <ul class="navbar" id="content-menu-top">
      <li><a href="/">Accueil</a></li>
      <li class="dropdown"> 
        <a data-toggle="dropdown" href="#">Premiers pas</a>
        <ul class="dropdown-menu">
          <li class="title">Acheter sur le web et lire sur</li>
          <li class="sub-link"><a href="/tea-ebook/">ordinateur</a></li>
          <li class="sub-link"><a href="/web-web/">le web</a></li>
          <li class="sub-link"><a href="/web-liseuseTEA/">une liseuse TEA</a></li>
          <li class="sub-link"><a href="/web-androidv1/">l'application Android v1</a></li>
          <li class="sub-link"><a href="/web-androidv2/">l'application Android v2</a></li>
          <li class="sub-link"><a href="/web-ios/">l'application iOS v1</a></li>
          <li class="sub-link"><a href="/web-iosv2/">l'application iOS v2</a></li>
          <li class="divider"></li>
          <li><a href="/liseuse-liseuseTEA/">Acheter et lire sur une liseuse TEA</a></li>
          <li><a href="/androidv1-androidv1/">Acheter et lire sur l'application Android v1</a></li>
          <li><a href="/androidv2-androidv2/">Acheter et lire sur l'application Android v2</a></li>
        </ul>
      </li>
      <li class="dropdown"> 
        <a data-toggle="dropdown" href="#">FAQ</a>
        <ul class="dropdown-menu">
          <li><a href="/faq-achat/">Achat</a></li>
          <li><a href="/faq-comptes/">Comptes clients</a></li>
          <li><a href="/faq-lecture/">Lecture</a></li>
          <li><a href="/faq-liseuse/">Liseuses</a></li>
          <li><a href="/faq-telechargement/">Téléchargement</a></li>
          <li><a href="/faq-erreurs/">Les messages d'erreurs les plus courants</a></li>
          <li><a href="/faq-autre/">Autres</a></li>
          <li><a href="/faq/">Toutes les questions</a></li>
        </ul>
      </li>
      <li><a href="/maj/">Mettre à jour ma liseuse TEA</a></li>
    </ul>
  </nav>
</header>
