<p>
  Comment connaître la version de votre application ou du logiciel de votre liseuse Pocketbook <span class="info">?</span>
</p>
<div id="wrapper-info">
  <div>
    <h4>Les différentes versions de l'application Android :</h4>
    <table>
      <tr>
        <td>Version 1 :</td>
        <td>Version 2 :</td>
      </tr>
      <tr>
        <td><img src="/images/index-info-1.png" alt=""></td>
        <td><img src="/images/index-info-2.png" alt=""></td>
      </tr>
    </table>
    <h4>Les différentes versions du logiciel des liseuses Pocketbook :</h4>
    <table>
      <tr>
        <td>Version 4 :</td>
        <td>Version 4 "Mes Achats" :</td>
        <td>Version 5 :</td>
      </tr>
      <tr>
        <td><img src="/images/index-info-3.jpg" alt=""></td>
        <td><img src="/images/index-info-4.jpg" alt=""></td>
        <td><img src="/images/index-info-5.jpg" alt=""></td>
      </tr>
    </table>
  </div>
</div>
