<div id="search-form">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Recherche…" id="text-search" value="standard">
        </div>
        <button class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </form>

    <div id="results">
        <div class="result">
            <h4>Quel format choisir pour acheter un e-book ?</h4>
            <div class="result-content">
                <p><strong>ePub&nbsp;: Electronic publication</strong><br>
                Le format ePub est un format <span class="highlight">standard</span>isé ouvert et est conçu pour faciliter la mise en page du contenu, le texte affiché étant ajusté pour le type d'appareil de lecture (taille de l'écran). Il est lisible avec le logiciel Adobe Digital Editions sur PC et Mac. Il est également compatible…</p>
            </div>
        </div>
        <div class="result">
            <h4>Combien de livres puis-je stocker ?</h4>
            <div class="result-content">Pour les liseuses Cybook, la capacité interne est de 2 Go, ce qui représente environ 2 000 livres de taille <span class="highlight">standard</span>.
Pour les liseuses Pocketbook, la capacité interne est de 4 Go, soit environ 4 000 livres.
Vous pouvez augmenter la capacité de stockage de votre liseuse jusqu’à 32 Go en insérant une carte mémoire dans la fente prévue à cet effet.
            </div>
        </div>
    </div>

</div>
