<div id="search-form">
    <form class="form-inline">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
          <input type="text" class="form-control" placeholder="Recherche" id="text-search">
        </div>
    </form>

    <div id="results">
        <p class="no-results">Entrez un mot-clé dans le champ de recherche ci-dessus pour chercher les questions les plus pertinentes…</p>
    </div>

</div>
