body {
  padding-top: 80px;
  padding-bottom: 50px;
}

#overlay {
    display: none;
    content:"\A";
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    top:0;
    left:0;
}

#search-form {
  padding: 20px;
  background: #EDECE8;
  -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3-4 */
  border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */

  .no-results {
    padding-top: 10px;
  }

  .see-more {
    margin-left: .5em;
    &::after {
      display: inline-block;
      content: "→";
      padding-left: .5em;
    }
  }

  h4 {
    font-family: "Slabo 27px",serif;
    font-size: 1em;
    font-weight: bold;
    color: #547980;
  }
}

td, th {
  padding: 5px 10px;
}

.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}

.highlight {
    padding:1px 4px;
    margin:0 -4px;
}

.warningtip, .protip {
  display: block;
  background-repeat: no-repeat;
  margin: 50px 0;
  background-position: 20px center;
  padding: 10px 20px 10px 60px;
  border: 1px solid;

  .title {
    display: block;
    font-weight: bold;
  }
}

.warningtip {
  background-color: bisque;
  background-image: url(/images/warning.png);
  border-color: burlywood;
  .title { color: darkred; }
}

.protip {
  background-color: powderblue;
  background-image: url(/images/protip.png);
  border-color: steelblue;

  .title { color: midnightblue; }
  a:link, a:visited {
    color: steelblue;
  }
  a:hover {
    color: darken(steelblue, 15%);
  }
}

.up {
  text-align:right;
}


ul.move {
  position: fixed;
  top: 80px;
  display: none;
  @media (min-width: 1200px) {
    width: 292px;
    display: block;
  }
}
ul.faq {
  display: none;
  margin-bottom: 0.5em;
}

p#anchor-menu-title{
  background-color: #EDECE8;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0.2em 0.5em;
  span{
    display: inline-block;
    width: 0;
    height: 0;
    float: right;
    margin-top: 0.5em;
  }
}

.menu-close{
  margin-bottom: 1em;
  span{
    border-top: 10px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }
}

.menu-open{
  margin-bottom: 0;
  span{
    border-right: 10px solid;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }
}
