body {
  padding-top: 80px;
  padding-bottom: 50px;
}

th, td {
  padding: 2px 6px;
}

.warningtip, .protip {
  display: block;
  background-repeat: no-repeat;
  margin: 50px 0;
  background-position: 20px center;
  padding: 10px 20px 10px 60px;
  border: 1px solid;

  .title {
    display: block;
    font-weight: bold;
  }
}

.warningtip {
  background-color: bisque;
  background-image: url(/images/warning.png);
  border-color: burlywood;
  .title { color: darkred; }
}

.protip {
  background-color: powderblue;
  background-image: url(/images/protip.png);
  border-color: steelblue;

  .title { color: midnightblue; }
  a:link, a:visited {
    color: steelblue;
  }
  a:hover {
    color: darken(steelblue, 15%);
  }
}

.up {
  text-align:right;
}


ul.move {
  position: fixed;
  top: 80px;
  display: none;
  @media (min-width: 1200px) {
    width: 292px;
    display: block;
  }
}
ul.faq {
  display: none;
  margin-bottom: 0.5em;
}

p#anchor-menu-title{
  background-color: #EDECE8;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0.2em 0.5em;
  span{
    display: inline-block;
    width: 0;
    height: 0;
    float: right;
    margin-top: 0.5em;
  }
}

.menu-close{
  margin-bottom: 0.5em;
  span{
    border-top: 10px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }
}

.menu-open{
  margin-bottom: 0;
  span{
    border-right: 10px solid;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }
}
