// ----- BASE -----
* {
  box-sizing:border-box;
}

// Top menu
header {
  display: flex;
  justify-content: space-between;
  nav {
    padding: 0.5em 1em;

    & > ul {
      display: flex;
      margin: 0;
      padding: 0;

      & > li {
        position: relative;

        & > a {
          position:relative;
        }
        .dropdown-menu {
          position: absolute;
          width: 22em;
        }
      }
    }
  }
}

// Pages
#content {
  max-width: 1200px;
  margin: 0 auto;
}

// ----- HOME -----
// Tabs device home
.ui-tabs {
  .ui-tabs-nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  
    li {
      list-style:none;
      flex-grow: 1;
    }
  }
  .ui-tabs-panel {
    display: flex;
  }
  .content-tab {
    display: flex;
    align-items: center;

    img {
      flex-shrink: 0;
      margin-right: 0.5em;
    }
    & > div {
      flex-grow: 1;
    }
  }
}