// ********** Color **********

$blue : #34495e;
$orange : #e34b1c;
$taupe : #594f4f;
$green : #68a99c;
$beige : #edece8;

// ********** Fonts **********
$titleFont: 'Libre Baskerville';
$globalFont: 'Open Sans';

// ----- BASE -----
$textColor: $taupe;
$linkColor: $orange;

// ----- HOME -----
// Tabs device home
$textTab: $taupe;
$textTabActive: $green;
$borderTab: $taupe;
$backgroundTab: $beige;
$backgroundTabActive: white;

