<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Aide en ligne TEA</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Accueil</a></li>
        <li><a href="/decouvrir-lecture-numerique/">Le livre numérique</a></li>
        <li class="dropdown"> 
          <a data-toggle="dropdown" href="#">Acheter sur <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/web-ordinateur/#acheter-internet">Ordinateur</a></li>
            <li><a href="/liseuse-pbv5/#acheter-liseuse">Liseuse</a></li>
            <li><a href="/androidv1-androidv1/#acheter-android">Tablette Android (app v1)</a></li>
         </ul>
        </li>
        <li class="dropdown"> 
          <a data-toggle="dropdown" href="#">Télécharger sur <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/web-ordinateur/#telecharger-ordinateur">Ordinateur</a></li>
            <li class="divider"></li>
            <li><a href="/web-basic2/#tranferer-basic2">Liseuse Basic2</a></li>
            <li><a href="/web-pbv4/#telecharger-pbv4">Liseuse depuis l'ebook store</a></li>
            <li><a href="/web-pbv5/#telecharger-pbv5">Liseuse depuis "Mes Achats"</a></li>
            <li class="divider"></li>
            <li><a href="/androidv1-androidv1/#telecharger-android">Application Android v1</a></li>
            <li><a href="/web-iosv1/#telecharger-ios">Application iOs v1</a></li>
          </ul>
        </li>
        <li class="dropdown"> 
          <a data-toggle="dropdown" href="#">Lire sur <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/web-ordinateur/#lire-ordinateur">Ordinateur</a></li>
            <li class="divider"></li>
            <li><a href="/web-basic2/#lire-basic2">Liseuse Basic2</a></li>
            <li><a href="/liseuse-cybook/#lire-cybook">Liseuse Cybook</a></li>
            <li><a href="/liseuse-pbv4/#lire-pbv4">Liseuse Pocketbook (Firmware 4)</a></li>
            <li><a href="/liseuse-pbv5/#lire-pbv5">Liseuse Pocketbook (Firmware 5)</a></li>
            <li class="divider"></li>
            <li><a href="/androidv1-androidv1/#lire-android">Application Android v1</a></li>
            <li><a href="/web-iosv1/#lire-ios">Application iOs v1</a></li>
          </ul>
        </li>
        <li><a href="/faq/">FAQ</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
