---
layout: default
---

<div id="content">
  <article class="page">
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    {% if page.type == 'faq' %}
      {% include btn-back-to-faq.html %}
    {% endif %}
    <div class="entry">
    {% if page.type == 'faq' %}
      {% include search_inpage.html %}
    {% endif %}
      {{ content }}
    </div>
    {% if page.type == 'faq' %}
      {% include btn-back-to-faq.html %}
    {% endif %}
  </article>
  <nav>
    <ul id="anchor-menu" class="move">
      <li class="anchor-menu-item level-1">{{ page.title }}</li>
    </ul>
  </nav>
</div>
